pandas==1.5.3
numpy==1.24.2
seaborn==0.12.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
umap-learn
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils==0.2.0
tqdm==4.64.1
scikit-learn==1.2.1
rpy2==3.5.9
python-louvain==0.12
networkx==2.8.5
joblib==1.2.0
scipy==1.10.1
